@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

p {
    font-family: $font-family-serif;
    font-size: 10px;
}

h1 {
    font-family: $font-family-sans-serif;
    font-size: 16px;
}

footer.footer {

    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    margin-bottom: 250px;
}